body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 400px;
}


.close-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close-container input[type="image"] {
    margin-right: 10px;

}

.container2 {
    background-color: #DFDCD3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 400px;
}

.close-button {
    margin-right: 10px;
    margin-left: 350px;
}

.close-button input[type="button"] {
    background-color: #DFDCD3;
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 40px;

}

h1, h2 {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
}

.header h3 {
    margin: 0;
}

.header input[type="button"], .header input[type="image"] {
    margin-left: 10px;
    background-color: #ffffff;
}

/* 画像の位置を微調整する部分 */
.header input[type="image"] {
    margin-top:0px;  /* 画像を少し下に移動 */
}

.back {
    width: 90%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: #ffff00;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #000000; 
}

.touroku {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    margin-left: 20px;
    background-color: #484847;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #000000; 
}

.login {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    margin-left: 20px;
    background-color: #484847;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #000000; 
}



.top {
    width: 90%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: #484847;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #000000; 
}

.label-container {
    width: 90%;
    background-color: #d3d3d3; 
    padding: 5px; 
    border-radius: 2px; 
    margin-left: 16px;
}

.label-container2 {
    width: 90%;
    background-color: #ebe8e8; 
    padding: 5px; 
    border-radius: 2px; 
    margin-bottom: 3px;
    justify-content: center; 
    margin-left: 16px;
}

.label-container3 {
    width: 90%;
    background-color: #ebe8e8; 
    padding: 5px; 
    border-radius: 2px; 
    margin-bottom: 3px;
    margin-left: 16px;
}

.label-container4 {
    background-color: #ebe8e8; 
    padding: 5px; 
    border-radius: 2px; 
    margin-bottom: 3px;
    margin-left: 16px;
    display: flex;
    justify-content: center; 
    width: 90%; /* 幅を100%に設定 */
    height: 40px; /* 高さを自動に設定 */

}

.textbox {
    width: 345px; 
    height: 20px;
    padding: 5px; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
    background-color: #fff; 
    margin-left: 1px;
}

.textbox2 {
    width: 348px; 
    height: 30px;
    padding: 5px; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
    background-color: #fff; 
    margin-left: 0px;
    margin-right: 1px;
}

.note {
    font-size: 12px; /* 文字サイズを小さく設定 */
    color: #666; /* オプション: 文字色をグレーに設定 */
}

.shouhin-container {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 20px; /* 下に余白を追加 */
    margin-right: 10px;
}

.shouhin {
    text-align: center;
    margin-right: 20px
}

.shouhin2 {
    text-align: center;
    margin-left: 5px;
}

.shouhin3 {
    text-align: center;
    margin-left: 13px;
}

.price {
    color: red;
}

.cartbutton {
    color: #ccc;
    background-color: rgb(253, 68, 68);
}

.item {
    display: flex;
    align-items: center; /* 縦方向の中央揃え */
    margin-left: 10px;
}

.dot {
    font-size: 24px; /* フォントサイズを大きく設定 */
    margin-right: 20px; /* 画像との間にスペースを追加 */
}

.details {
    margin-left: 40px; /* 画像との間にスペースを追加 */
    text-align: center;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    margin-left: 30px;
}

.update-button {
    background-color: rgb(84, 84, 252);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button {
    background-color: rgb(251, 65, 65);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.dotted-line {
    border: none;
    border-top: 2px dotted #000; /* 点線の太さを2pxに変更 */
    width: 100%;
    border-top-style: dashed;
    border-top-width: 2px;
    border-top-color: #000;
    border-top: 2px dashed #000;
}

.total {
    text-align: right;
    margin-right: 10px; /* 右側に少し余白を追加 */
    color: #666;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.flex-container2 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.right-align {
    text-align: right;
    margin-left: 20px;
}

.left-align {
    text-align: left;
}

.total-container {
    text-align: right;
}

.min {
    height: 20px;
    width: 53px;
}

.max {
    height: 20px;
    width: 53px;
}


